<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>sfUnobstrusiveWidgetPlugin</name>
  <channel>pear.symfony-project.com</channel>
  <summary>The `sfUnobstrusiveWidgetPlugin` packages useful widgets for symfony in an unobsrusive way.</summary>
  <description>The `sfUnobstrusiveWidgetPlugin` packages useful widgets for symfony in an unobsrusive way.</description>
  <lead>
    <name>François Béliveau</name>
    <user>francois.b</user>
    <email>francois.beliveau@my-labz.com</email>
    <active>yes</active>
  </lead>
  <developer>
    <name>Hugo Hamon</name>
    <user>hugo.hamon</user>
    <email></email>
    <active>yes</active>
  </developer>
  <developer>
    <name>Karim Tache</name>
    <user>karim</user>
    <email></email>
    <active>yes</active>
  </developer>
  <developer>
    <name>Geoffrey Bachelet</name>
    <user>geoffrey.bachelet</user>
    <email></email>
    <active>yes</active>
  </developer>
  <developer>
    <name>Romain Dorgueil</name>
    <user>romain.dorgueil</user>
    <email></email>
    <active>yes</active>
  </developer>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>1.1.1</release>
    <api>1.1.1</api>
  </version>
  <stability>
    <release>stable</release>
    <api>stable</api>
 </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.1.0</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.1.0</min>
        <max>1.5.0</max>
        <exclude>1.5.0</exclude>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
    <release>
      <version>
        <release>1.1.1</release>
        <api>1.1.1</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <date>2009-11-26</date>
      <license>MIT</license>
      <notes>
       * Hugo Hamon        : implemented Countable interface on sfUoWidgetTable objects
       * Francois Béliveau : fixed callback in swfupload transformer
       * Francois Béliveau : fixed js config helper
       * Francois Béliveau : added multiselect transformer for select many form widget
       * Francois Béliveau : added "input text many" widget transformer ajax search transformer
       * Francois Béliveau : make jquery "double_list" transformer compatible with jQuery UI
       * Francois Béliveau : fixed warning in sfUoWidgetFormDate when no transformer sets
       * Francois Béliveau : make jquery "asm" transformer compatible with jQuery UI
       * Francois Béliveau : added more unit tests
       * Karim Tache       : fixed bug when merging html attributes for items (sfUoWidgetList)
       * Karim Tache       : added is_array test on item values (sfUoWidgetMenu)
       * Karim Tache       : fixed doc
       * Francois Béliveau : added "button_set" transformer for select widgets
       * Francois Béliveau : fixed "drop_line" menu widget transformer
       * Francois Béliveau : added "related_choice" transformer for select
       * Francois Béliveau : added i18n support to sfUoWidgetFormDate
       * François Béliveau : added color widget
       * François Béliveau : added table widget
       * François Béliveau : fixed documentations
      </notes>
    </release>
    <release>
      <version>
        <release>1.1.0</release>
        <api>1.1.0</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <date>2009-04-30</date>
      <license>MIT</license>
      <notes>
       * Romain Dorgueil   : implement sfDynamicsPlugin compatibility (beta)
       * Francois Béliveau : implement sfDynamicsPlugin compatibility
       * Francois Béliveau : added "mask" transformer to text input widget
       * Francois Béliveau : refactoring
       * Francois Béliveau : removed install task and create publish and unpublish tasks
       * Francois Béliveau : added some documentation
       * Francois Béliveau : removed accordion widget and create sfUoWidgetContainersList instead
       * Francois Béliveau : added tabs transformer to sfUoWidgetContainersList widget
       * Francois Béliveau : changed spinner JS script
       * Francois Béliveau : added sfUoWidgetFormPropelSelectMany widget
       * Francois Béliveau : removed default transformer for sfUoWidgetFormDate
       * Francois Béliveau : added some unit test
       * Francois Béliveau : added documentation and examples
      </notes>
    </release>
    <release>
      <version>
        <release>1.0.3</release>
        <api>1.0.3</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <date>2009-04-22</date>
      <license>MIT</license>
      <notes>
        * François Béliveau : change "dropdown" JS transformer name to "drop_down"
        * François Béliveau : add "drop_line" JS transformer for menu
        * François Béliveau : set "js_lazy" property to TRUE by default
        * François Béliveau : remove widget JS initialization in JS files on window.load (to increase performance)
        * François Béliveau : add load all JS and CSS methods
        * François Béliveau : add embed element to valid elements in tinyMCE default config
        * François Béliveau : fix JS config rendering for range widget
        * François Béliveau : fix JS config rendering for date picker widget
        * François Béliveau : add "is_super_admin_method" option to sfUoWidgetAdminMenu
        * François Béliveau : is super admin check on credential check in sfUoWidgetAdminMenu
        * François Béliveau : fix JS double list script selected value on initialization
        * François Béliveau : fix JS dom manipulation bug in treeview admin when root not exists
        * François Béliveau : fix JS id widgets output to be able to display date range
        * François Béliveau : add file widget with swf upload transformer
        * François Béliveau : fix getJsTransformers function (always return an array)
        * François Béliveau : add image by default to swf uplaod widget flash button
        * Geoffrey Bachelet : added i18n support for sfUoWidgetList
        * Hugo Hamon        : fixed wrong implementation of offsetGet() in config manager
        * Karim Tache       : added sfUoWidgetFormDoctrineSelect and sfUoWidgetFormDoctrineSelectMany widgets
        * François Béliveau : added drop down check list transformer to select many widget
        * François Béliveau : added window_onload config in yaml
      </notes>
    </release>
    <release>
      <version>
        <release>1.0.2</release>
        <api>1.0.2</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <date>2009-02-05</date>
      <license>MIT</license>
      <notes>
        * Francois Béliveau : refactoring javascript
        * Francois Béliveau : add default "rows" and "cols" attribute for textarea widget
        * Francois Béliveau : add "js_lazy" option
      </notes>
    </release>
    <release>
      <version>
        <release>1.0.1</release>
        <api>1.0.1</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <date>2009-01-24</date>
      <license>MIT</license>
      <notes>
        * François Béliveau : add documentation
        * François Béliveau : refactoring javascript
        * Francois Béliveau : fix "multiple" option in sfUoWidgetFormSelect class
      </notes>
    </release>
    <release>
      <version>
        <release>1.0.0</release>
        <api>1.0.0</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <date>2009-01-18</date>
      <license>MIT</license>
      <notes>
        * François Béliveau : first release
      </notes>
    </release>
  </changelog>
</package>