.uo_widget_list_drop_line_ON {
  margin: 0;
  padding: 0;
}
.uo_widget_list_drop_line_ON li {
  display: inline;
}
.uo_widget_list_drop_line_ON li ul {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
}