.uo_widget_form_select_many_double_list_ON {
  position: absolute;
  left: -9999px;
}
.uo_widget_form_select_many_double_list_container {
  padding: 0;
  margin: 0;
}
.uo_widget_form_select_many_double_list_container select {
  min-width: 7em;
}
.uo_widget_form_select_many_double_list_container .left,
.uo_widget_form_select_many_double_list_container .actions_container {
  float: left;
  display: block;
}
.uo_widget_form_select_many_double_list_container .actions_container {
  margin: 0 5px;
}
.uo_widget_form_select_many_double_list_container .actions_container ul {
  margin: 0;
  padding: 0;
}
.uo_widget_form_select_many_double_list_container .actions_container li {
  padding: 5px 0;
  list-style: none;
}