/*datepicker*/
/* Main Style Sheet for jQuery UI date picker */
.ui-datepicker-div, #ui-datepicker-div, .ui-datepicker-inline {
	margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1;
  text-decoration: none;
  list-style: none;
	background: #f9f9f9;
	border: 4px solid #d3d3d3;
	padding: 2.5em .5em .5em .5em;
	position: relative;
  font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
  width: 185px;
}
#ui-datepicker-div, .ui-datepicker-div {
	z-index: 9999;
	display: none;
	background: #f9f9f9;
}
.ui-datepicker-inline {
	float: left;
	display: block;
}
.ui-datepicker-control {
	display: none;
}
.ui-datepicker-current {
	display: none;
}
.ui-datepicker-next, .ui-datepicker-prev {
	position: absolute;
	left: .5em;
	top: .5em;
	background: #e6e6e6 url(/sfUnobstrusiveWidgetPlugin/images/default/uo_widget_form_date_picker/button_texture.png) 0 50% repeat-x;
}
.ui-datepicker-prev label, .ui-datepicker-next label {
  display: none;
 }
.ui-datepicker-next {
	left: 14.6em;
}
.ui-datepicker-next:hover, .ui-datepicker-prev:hover {
	background: #dadada url(/sfUnobstrusiveWidgetPlugin/images/default/uo_widget_form_date_picker/button_texture_hover.png) 0 50% repeat-x;
}
.ui-datepicker-next a, .ui-datepicker-prev a {
	text-indent: -999999px;
	width: 1.1em;
	height: 1.2em;
	display: block;
	font-size: 1em;
	background: url(/sfUnobstrusiveWidgetPlugin/images/default/uo_widget_form_date_picker/arrow_left.gif) 50% 50% no-repeat;
	border: 1px solid #d3d3d3;
	cursor: pointer;
}
.ui-datepicker-next a {
	background: url(/sfUnobstrusiveWidgetPlugin/images/default/uo_widget_form_date_picker/arrow_right.gif) 50% 50% no-repeat;
}
.ui-datepicker-prev a:hover {
	background: url(/sfUnobstrusiveWidgetPlugin/images/default/uo_widget_form_date_picker/arrow_left_hover.gif) 50% 50% no-repeat;
}
.ui-datepicker-next a:hover {
	background: url(/sfUnobstrusiveWidgetPlugin/images/default/uo_widget_form_date_picker/arrow_right_hover.gif) 50% 50% no-repeat;
}
.ui-datepicker-prev a:active {
	background: url(/sfUnobstrusiveWidgetPlugin/images/default/uo_widget_form_date_picker/arrow_left_active.gif) 50% 50% no-repeat;
}
.ui-datepicker-next a:active {
	background: url(/sfUnobstrusiveWidgetPlugin/images/default/uo_widget_form_date_picker/arrow_right_active.gif) 50% 50% no-repeat;
}
.ui-datepicker-header select {
	border: 1px solid #d3d3d3;
	color: #555555;
	background: #e6e6e6;
	font-size: 1em;
	line-height: 1.4em;
	position: absolute;
	top: .5em;
	margin: 0 !important;
	
}
.ui-datepicker-header select.ui-datepicker-new-month {
width: 7em;
left: 2.2em;
}
.ui-datepicker-header select.ui-datepicker-new-year {
width: 5em;
left: 9.4em;
}
table.ui-datepicker {
	width: 15.5em;
	text-align: right;
}
table.ui-datepicker td a {
	padding: .1em .3em .1em 0;
	display: block;
	color: #555555;
	background: #e6e6e6 url(/sfUnobstrusiveWidgetPlugin/images/default/uo_widget_form_date_picker/button_texture.png) 0 50% repeat-x;
	cursor: pointer;
	border: 1px solid #ffffff;
}
table.ui-datepicker td a:hover {
	border: 1px solid #999999;
	color: #212121;
	background: #dadada url(/sfUnobstrusiveWidgetPlugin/images/default/uo_widget_form_date_picker/button_texture_hover.png) 0 50% repeat-x;
}
table.ui-datepicker td a:active {
	border: 1px solid #dddddd;
	color: #222222;
	background: #ffffff url(/sfUnobstrusiveWidgetPlugin/images/default/uo_widget_form_date_picker/button_texture_active.png) 0 50% repeat-x;
}
table.ui-datepicker .ui-datepicker-title-row td {
	padding: .3em 0;
	text-align: center;
	font-size: .9em;
	color: #222222;
	text-transform: uppercase;
	/*border-bottom: 1px solid #d3d3d3;*/
}
table.ui-datepicker .ui-datepicker-title-row td a {
	color: #222222;
}